/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define XXX &none
#define TODO ___
#define ___ &trans

#define BASE 0
#define NAV 1
#define NUM 2
#define SYM 3
#define FUN 4
#define UTIL 5

#define S_UNDO &kp LC(Z)
#define S_CUT &kp LC(X)
#define S_COPY &kp LC(C)
#define S_PASTE &kp LC(V)
#define S_REDO &kp LS(LC(Z))

// navigation bindings for back/forward and prev tab/next tab
#define PTAB &kp LS(LC(TAB))
#define NTAB &kp LC(TAB)

// hyper and meh keys
#define HYP LS(LC(LA(LGUI)))
#define MEH LS(LC(LA))



&caps_word {  
    // /delete-property/ ignore-modifiers; // mods deactivate, requires PR #1451
    /delete-property/ ignore-numbers;
    continue-list = <BACKSPACE ENTER DELETE UNDERSCORE MINUS>;
};

// key-repeat config
&key_repeat {
    usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>; // repeat all keys
};

// default layer-tap config
&lt {  
    flavor = "balanced";
    tapping-term-ms = <200>;
};

// &mt {
//   quick-tap-ms = <100>;
//   global-quick-tap;
//   flavor = "tap-preferred";
//   tapping-term-ms = <170>;
// }

&mt {
  flavor = "balanced";
  tapping-term-ms = <200>;
};


/     keymap {
        compatible = "zmk,keymap";
        default_layer { // ColemakDHm
            bindings = <
            &kp Q        &kp W        &kp F           &kp P           &kp B              &kp J         &kp L             &kp U           &kp Y         &kp APOS 
            &mt LCTL A   &mt LALT R   &mt LGUI S      &mt LSFT T      &kp G              &kp M         &mt RSFT N        &mt RGUI E      &mt LALT I    &mt RCTL O
    PTAB    &kp Z        &kp X        &kp C           &kp D           &kp V              &kp K         &kp H             &kp COMMA       &kp DOT       &kp FSLH        NTAB
                                      &lt UTIL ESC    &lt NAV SPACE   &kp TAB            &lt SYM RET   &lt NUM BSPC      &lt FUN DEL
            >;
        };
        nav_layer { 
            bindings = <
            ___          ___          ___             ___             ___                ___           &kp HOME          &kp UP          &kp END       &kp PAGE_UP 
            &kp LCTL     &kp LALT     &kp LGUI        &kp LSFT        ___                &caps_word    &kp LEFT          &kp DOWN        &kp RIGHT     &kp PAGE_DOWN
    ___     ___          ___          ___             ___             ___                S_REDO        S_PASTE           S_COPY          S_CUT         S_UNDO          ___
                                      ___             ___             ___                &kp RET       &kp BSPC          &kp DEL
            >;
        }; 
        num_layer {
            bindings = <
            &kp LBKT     &kp N7       &kp N8          &kp  N9         &kp RBKT           ___           ___               ___             ___           ___ 
            &kp SEMI     &kp N4       &kp N5          &kp  N6         &kp EQUAL          ___           &kp LSHFT         &kp LGUI        &kp LALT      &kp LCTRL
    ___     &kp GRAVE    &kp N1       &kp N2          &kp  N3         &kp BSLH           ___           ___               ___             ___           ___             ___
                                      &kp DOT         &kp  N0         &kp MINUS          ___           ___               ___
            >;
        };
        sym_layer {
            bindings = <
            &kp LBRC     &kp AMPS     &kp STAR        &kp LPAR        &kp RBRC           ___           ___               ___             ___           ___
            &kp COLON    &kp DOLLAR   &kp PERCENT     &kp CARET       &kp PLUS           ___           &kp LSHFT         &kp LGUI        &kp LALT      &kp LCTRL 
    ___     &kp TILDE    &kp EXCL     &kp AT          &kp HASH        &kp PIPE           ___           ___               ___             ___           ___             ___
                                      &kp LPAR        &kp RPAR        &kp UNDER          ___           ___               ___                   
            >;
        };
        fun_layer {
            bindings = <
            &kp F12      &kp F7       &kp F8          &kp F9          ___                ___           ___               ___             ___           ___
            &kp F11      &kp F4       &kp F5          &kp F6          ___                ___           &kp LSHFT         &kp LGUI        &kp LALT      &kp LCTRL 
    ___     &kp F10      &kp F1       &kp F2          &kp F3          ___                ___           ___               ___             ___           ___             ___
                                      ___             ___             ___                ___           ___               ___
            >;
        };
        util_layer {
            bindings = <
            &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2    &bt BT_CLR      ___                ___           ___               &kp C_VOL_UP    ___           ___
            &kp LCTL     &kp LALT     &kp LGUI        &kp LSFT        ___                ___           ___               &kp C_VOL_DN    ___           ___ 
    ___     ___          ___          ___             ___             ___                ___           ___               ___             ___           ___             ___
                                      ___             ___             ___                ___           ___               &kp C_MUTE
            >;
        };  
    };